.recommentedvideo{
    flex: 0.8;
    background-color:#f9f9f9;
    padding: 20px 40px;
    padding-bottom: 0;
    
}

.videocard__frontview__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}