.videoCard{
    width: 220px;
    margin-bottom: 40px;
}

.videoCard__thumbnail{
    height: 120px;
    width: 200px;
}

.videoCard__info{
    display: flex;
    margin: 10px;
    padding-right: 30px;

}
.video__text{
    margin-left: 15px;
}

.video__text > h4 {
    font-size: 14px;
    margin-bottom: 5px;
    margin-top: 0;
}

.video__text > p {
    font-size: 12px;
    margin-bottom: 0;
    margin-top: 0;
    color:gray
}

.videoCard__avatar{
    width: 30px !important;
    height: 30px !important;
}